@import url('fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'lato' , sans-serif;
    color: white;
    @apply bg-primary;
}

#root{
    @apply w-full bg-primary flex items-center flex-col overflow-hidden;  
}

.content{
    width: 1280px;
}

.pageHeight{
    height: 860px;
}   

.width-hero{
    width: 600px;
}

.width-about{
    width: 750px;
}


#tsparticles{
    @apply h-full w-full absolute top-0;
}