@import url('fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'lato' , sans-serif;
    color: white;
    @apply bg-primary;
}

#root{
    @apply w-full bg-primary flex items-center flex-col;  
}

.content{
    width: 1280px;
}

.pageHeight{
    height: 701px;
}